<html>
<head>
    <meta charset="utf-8">
    <style type="text/css">
        #fragments{
            
            display:block;
            height:65%;
            width:100%;
            overflow:auto;
        }
        body{
            background: #111;
            color: #eee;
        }
    </style>
</head>
<body>
    <div id="razmetka">
        <video id='player' 
               :src='media.src' 
               :controls='media.controls'
               :height="media.height"
               ></video>
        <div>
            <div>
                Путь к файлу:
                <input v-model='media.src' />
            </div>
            <button @click='captureTime'>Поставить метку</button>
        </div>
        <div id='fragments'>
            <form class='row' v-for='metka in times' :key="metka.time">
                <img :src='metka.img' alt="no image" />
                <a   @click = 'inputFocused(metka, $event)' href='#'> {{ metka.ts }}</a>
                <input v-model='metka.text' 
                       :id = '"inp"+metka.ts' 
                       autofocus >
            </form>
        </div>
            
    </div>
</body>
    <script src='vue.global.js' ></script> 
    <script src='main.js'></script>
</html>