<html>
<head>
    <meta charset="utf-8">
    <style type="text/css">
        #fragments{
            
            display:block;
            height:65%;
            width:100%;
            overflow:auto;
        }
        #fragments form img
        {
            display: inline-block;
            width: 240px;
        }
        body{
            background: #111;
            color: #eee;
        }
    </style>
</head>
<body>
    <div id="razmetka">
        <video crossorigin="anonymous" id='player' 
               :src='HOST+"/assets/"+media.src' 
               :controls='media.controls'
               :height="media.height"
               ></video>
        <div>
            <div>
                Путь к файлу:
                <input v-model='media.src' />
            </div>
            <button @click='captureTime'>Поставить метку</button>
        </div>
        <div id='fragments'>
            <form class='row' v-for='metka in times' :key="metka.id">
                <img 
                     :src='HOST+"/assets/"+metka.screenshot+"?access_token="+access_token'
                     alt="no image" />
<!--                     :src='metka.screenshot'-->
                <a   @click = 'inputFocused(metka, $event)' href='#'> {{ metka.timestring }}</a>
                <input v-model='metka.description' 
                       :id = '"inp"+metka.timestring' 
                       autofocus >
            </form>
        </div>
            
    </div>
</body>
    <script src='vue.global.js' ></script> 
    <script src='main.js' type="module"></script>
</html>